    /* Tooltip container */
    .tooltip1 {
        position: relative;
        display: inline-block;
        margin-left: 2px;
      }
      
      /* Tooltip text */
      .tooltip1 .tooltiptext1 {
        visibility: hidden;
        width: 50vw;
        background-color: #CDE9C3;
        color: black;
        text-align: center;
        padding: 5px 0;        
       
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
      }
      
      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltip1:hover .tooltiptext1 {
        visibility: visible;
      }


      /* Tooltip container */
    .tooltip2 {
      position: relative;
      display: inline-block;
      margin-left: 2px;
    }
    
    /* Tooltip text */
    .tooltip2 .tooltiptext2 {
      visibility: hidden;
      width: 150px;
      background-color: #CDE9C3;
      color: black;
      text-align: center;
      padding: 5px 0;        
     
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip2:hover .tooltiptext2 {
      visibility: visible;
    }
      