html, body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

#logo {
    width: 10%;
    height: auto;
}
  
.full-height {
     height: 33.33333333333%;
}
  
.top {
    text-align: center;
    background-color: lightgreen;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}
  
.bottom {
}
  
.down {
    color: white;
    background-color: green;
}